---
//import Layout from "../layouts/Layout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import SectionIntro from "../components/SectionIntro.astro";
import Icon from "../components/Icon.astro";
import WhyMe from "../components/WhyMe.astro";

const arrayKeywords = [
  "Desarrollo web",
  "proyectos web",
  "proyecto web",
  "Damián Valenzuela Negrete",
  "Damián Valenzuela",
  "dvnegrete",
  "sitios web",
  "websites",
  "website",
  "Desarrollo Full Stack",
  "API",
  "mantenimiento web",
  "cloud computing",
];
---

<BaseLayout
  title="ProyectoSweb"
  description="Desarrollo de proyectos web, y Cloud Computing"
  keywords={arrayKeywords.join(",")}
>
  <div class="stack gap-20 lg:gap-48">
    <main class="wrapper about">
      <div class="title-container mb-10">
        <Icon
          icon="terminal-window"
          color="var(--accent-regular)"
          size="5.3em"
        />
        <h1 class="title-h1">
          <span class="personal-brand ml-3">P</span>royecto<span
            class="personal-brand">S</span
          ><span>web</span>
        </h1>
      </div>
      <img
        class="rounded-lg border-personalized"
        src="https://github-personal-dvn.s3.us-east-2.amazonaws.com/proyectosweb/img990w.jpg"
        alt=""
      />
      <a href="https://wa.me/525620240995?text=Hola%2C%20me%20interesa%20una%20cotizaci%C3%B3n" target="_blank" rel="noopener noreferrer">Solicita una cotización gratis</a>
      <SectionIntro />
      <figure class="flex justify-center">
        <img
          class="w-3/4 m-6 rounded-xl border-personalized"
          src="https://github-personal-dvn.s3.us-east-2.amazonaws.com/proyectosweb/cloud-computing.jpg"
          alt=""
        />
      </figure>

      <ul role="list" class="link-card-grid">
        <Card
          href="https://cecati13.edu.mx"
          title="Cecati 13"
          body="La automatizacíon de algunos procesos en línea desde el sitio web, hacen más rápido y ágil procesos como el de inscripción. Se benefician los estudiantes y el personal del plantel."
        />
        <Card
          href="https://cecati196.edu.mx"
          title="Cecati 196"
          body='"Ahora tenemos un sitio web moderno y podemos mostrar nuestra oferta educativa que se modifica constantemente en un solo sitio."'
        />
      </ul>
      <figure class="flex justify-center">
        <img
          class="w-10/12 h-fit m-10 rounded-full border-personalized"
          src="https://github-personal-dvn.s3.us-east-2.amazonaws.com/proyectosweb/diseno-websites.jpg"
          alt=""
        />
      </figure>
      <WhyMe />
    </main>
  </div>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .title-h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
</style>
